.container1 {
  display: flex;
  margin-top: -8px;
  height: auto;
  background-color: #56595f2e;
}

.whole-sidebar {
  background-color: #5c327e;
  height: auto;
}

.sidebar {
  width: 300px;
  background-color: #5c327e;
  color: white;
  height: auto;
  flex: 0 0 auto;
  margin: 8px 0px 20px 0px;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;

}

.sidebar-closed {
  width: 0;
  overflow: hidden;
  padding: 0;
  max-height: 400px;
}

.span {
  margin-right: 10px;
}

.sidebar-item {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 25px 15px 30px;
  border-radius: 20px;
  margin: 0px 20px 5px 20px;
}

.sidebar-item.selected {
  background-color: #3c1053;
}

.sidebar-item:hover {
  background-color: #3c1053;
}

.main-content1 {
  flex: 1;
  width: auto;
  height: auto;
  overflow: auto;
  margin-bottom: 15px;
}

.content {
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

.sidebar-toggle {
  text-align: left;
  width: 40px;
  padding: 10px;
  cursor: pointer;
  color: white;
  margin: 20px 20px 0px 35px;
  font-size: 25px;
  border-radius: 5px;
  position: relative;
  display: flex;
  z-index: 999;
}

.sidebar-toggle:hover {
  background-color: #3c1053;
}

.toggle-icon {
  transition: transform 0.3s ease-in-out;

}

.toggle-icon.open {
  transform: rotate(180deg);

}

@media screen and (max-width: 924px) {
  .container1 {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 500px;
    position: static;
    align-items: center;
    height: auto;

  }

  .sidebar-item {
    padding: 15px;
    right: 0;
    margin-left: 0;
  }

  .main-content {
    padding: 10px;
  }

}