/* MyFAQ.css */

/* Base styles */
.MyFAQ-container {
  background-color: #f2eaf9;
  padding: 20px;
  font-family: "knilebold", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
}

.MyFAQ-header {
  width: 100%;
  font-family: "knilebold", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MyFAQ-title {
  font-size: 40px;
  font-family: "knilebold", sans-serif;
  color: #3c1053;
  font-weight: bold;
  margin-right: 5px;
}

.MyFAQ-button {
  background-color: #5c327e;
  font-family: "knilebold", sans-serif;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 24px;
  text-align: left; /* Align the text to the left */
}

.MyFAQ-content {
  display: flex;
}

/* FAQ list */
.MyFAQ-list {
  width: 50%;
  display: grid;
  flex-direction: column;
  font-family: "knilebold", sans-serif;
  align-items: flex-start;
}

.MyFAQ-item {
  margin: 10px 0;
  display: flex;
  font-family: "knilebold", sans-serif;
  flex-direction: column;
  align-items: center; /* Align items to the left */
}

/* Push all question buttons to the extreme left */
.MyFAQ-question {
  background-color: #5c327e;
  color: #fff;
  border: none;
  font-family: "knilebold", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%; /* Allow the buttons to adjust their width */
  text-align: left; /* Align the text to the left */ /* Add some margin on the right side */
}

.MyFAQ-answer {
  display: none;
  font-family: "knilebold", sans-serif;
  background-color: #5c327e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%; /* Allow the answers to adjust their width */
  text-align: left; /* Align the text to the left *//* Add some margin on the right side */
}
.MyFAQ-img {
  align-self: center;
  width: 50%;
}

.MyFAQ-img-img {
  padding: 10px;
  flex-direction: column;
  width: 90%; /* Adjust the width as needed */
  margin-left: 40px; /* Add some space between the list and the "hi" div */
}

/* Add space to the right of opened answer fields */
.MyFAQ-item.open .MyFAQ-answer {
  margin-right: 0%; /* Adjust the margin to leave 40% of the page width blank on the right */
}

/* Opened FAQ item styles */
.MyFAQ-item.open .MyFAQ-question {
  background-color: #3c1053;
  font-family: "knilebold", sans-serif;
}

.MyFAQ-item.open .MyFAQ-answer {
  display: block;
  font-family: "knilebold", sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .MyFAQ-title {
    font-size: 32px;
  }

  .MyFAQ-button {
    font-size: 18px;
  }
  .MyFAQ-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .MyFAQ-list {
    order: 1;
    width: 100%;
  }

  .MyFAQ-img {
    order: 2;
    width: 100%;
  }
  .MyFAQ-img-img{
    margin: 0px;
  }
  
}
