.signup-container {
  text-align: center;
  max-width: 550px;
  margin: 20px auto 0 auto;
  padding: 25px 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #b3adad29;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.signup-container:hover{
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  background-color: #15121229;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.subheading {
  font-size: 14px;
  margin-top: 10px;
}

.login {
  color: #3c1053;
  text-decoration: none;
  font-weight: 700;
}

.login:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

  .name_field,
  .email_field,
  .phone_field,
  .password_field,
  .confirm_password_field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #3c1053;
  border-radius: 5px;
}

  .name_field:hover,
  .email_field:hover,
  .phone_field:hover,
  .password_field:hover,
  .confirm_password_field:hover {
  box-shadow: 3px 3px 3px 3px rgba(70, 9, 77, 0.1);
  transform: translateY(-4px);
  border-color: #7739a4; /* Change border color on hover */
}

.submit_button {
  background-color: #3c1053;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit_button:hover {
  box-shadow: 10px 10px 10px 10px rgba(117, 35, 128, 0.1);
  background-color: #7739a4;
  color: black;
  
}
