.user-profile-form {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 25px 80px;
  border: 1px solid #25232379;
  border-radius: 5px;
  background-color: #e9e7e7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  } 
  
  .user-profile-form label {
    font-weight: bold;
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .user-profile-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #3c1053;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .user-profile-form button {
    background-color: #3c1053;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 10px;
  }
  .user-profile-form button:hover{
    background-color: #7739a4;
    color: #fff;
  }
  .user-profile-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: black;
  }
  
.gender-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.gender-label{
  padding: 5px;
}
.gender-radio{
  display: none;
}
.gender-custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #5c327e;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

/* Style the inner circle of the custom radio button when selected */
.gender-custom-radio::after {
  content: "";
  position: absolute;
  top: 1.5px;
  right: 1.5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #5c327e;
  display: none;
}

/* Show the inner circle when the radio button is checked */
.gender-radio:checked + .gender-custom-radio::after {
  display: block;
}

  