/* TransferMoney.css */
.card {
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 30px 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #b3adad29;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:1100px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group-label {
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-group-input {
    width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #3c1053;
  border-radius: 5px;
  }
  
  .transfer-button {
    background-color: #3c1053;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 50%;
  }
  
  .transfer-button:hover {
    box-shadow: 10px 10px 10px 10px rgba(117, 35, 128, 0.1);
    background-color: #7739a4;
    color: black;
  }
  