.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3adad29; /* Adjust the height to your preference */ /* Use the same background color as in Register.css */
}

/* Apply styles to the login card container */
.login-card {
  text-align: center;
  max-width: 500px;
  padding: 30px 80px;
  background-color: #b3adad29;
  border: 1px solid #25232379;
  border-radius: 5px; /* Use the same background color as in Register.css */
}

.login-card:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  background-color: #15121229;
}
/* Apply styles to the login card heading */
.login-card h1 {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #3c1053;
}

/* Apply styles to the login form */
.login-card form {
  margin-top: 20px;
}

/* Apply styles to form labels */
.login-card label {
  display: block;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3c1053;
}

/* Apply styles to text and password input fields */
.password_field,
.username_field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #3c1053;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Apply hover effect to input fields */
.password_field:hover,
.username_field:hover {
  box-shadow: 5px 5px 5px 5px rgba(70, 9, 77, 0.1);
  transform: translateY(-1px);
  border-color: #7739a4; /* Change border color on hover */
}

/* Apply styles to the login button */
.submit_button {
  background-color: #3c1053;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit_button:hover {
  box-shadow: 5px 5px 5px 5px rgba(117, 35, 128, 0.1);
  background-color: #7739a4;
  color: #fff;
}
/* Apply styles to the paragraph below the form */
.login-card p {
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold; /* Make the paragraph text bold */
}

/* Apply styles to links within the paragraph */
.login-card a {
  color: #3c1053;
  text-decoration: none;
  font-weight: 700;
}

/* Apply hover effect to links */
.login-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-card {
    text-align: center;
    max-width: 400px;
    padding: 30px 60px;
    background-color: #b3adad29;
    border: 1px solid #25232379;
    border-radius: 5px; /* Use the same background color as in Register.css */
  }
  .password_field,
  .username_field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #3c1053;
    border-radius: 5px;
  }
}
